// Font
$font: 'Nova Round';
$font-main: #ECF0F3;

// Colors
$main: #ECF0F3;
$main-mid: #DDE0E2;
$main-dark: #333344;

$main-splash: #6951FF;

// Gradients
$gradient-main-90: linear-gradient(90deg, rgb(0, 238, 255) 0%, rgb(0, 100, 255) 100%);
$gradient-main-180: linear-gradient(180deg, rgb(0, 238, 255) 0%, rgb(0, 100, 255) 100%);

// Config
$body: $main; 

// Classes 

.success {
    color: #00FF47;
}
.danger {
    color: #FF1F00;
}
