// Universal
.gra-btn {
    display: inline;
    padding: 5px 15px;
    border-radius: 5px;
    color: $font-main;
    min-width: 120px;
    box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
    i {
        margin-right: 1vw;
    }
}

button {
    border: none;
    background-color: transparent;
    &:hover {
        text-decoration: underline;
    }
}

// Specific
.logout-btn {
    background-color: orangered;
    position: absolute;
    padding: 5px 20px;
    bottom: 3%;
}
.account-btn {
    background-color: #2C80FF;
    box-shadow: 3px 3px 20px 0px rgba(44, 128, 255, 0.5);
}
.home-btn {
    background-color: #6951FF;
    box-shadow: 3px 3px 20px 0px rgba(105, 85, 255, 0.5);
}