.loader-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  .loader {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
  .load-warn-svr {
    position: absolute;
    margin-top: 8%;
    text-align: center;
  }
}
