.dashboard-cont {
    //background-color: beige;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: 0;
    width: 95%;
    height: 100%;
}

.account-cont {
    //background-color: beige;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: 0;
    width: 88%;
    height: 100%;
}

.dashboard {
    //background-color: blanchedalmond;
    width: 93%;
    height: 91%;
    .head {
        display: flex;
        flex-direction: row;
        align-items: center;
        .float {
            font-size: 18px;
            margin-left: 2rem;
        }
    }
    h1 {
        color: $main-dark;
    }
    h2 {
        font-size: 1.5rem;
        color: $main-dark;
        opacity: 0.7;
    }
}